In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-


# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
!pip install psycopg2
    
# Задаём параметры подключения к БД
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных
 
# Формируем строку соединения с БД
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])
 
# Подключаемся к БД
engine = create_engine(connection_string)
 
# Формируем sql-запрос.
query1 = ''' SELECT *
            FROM dash_visits
        '''
 
dash_visits = pd.io.sql.read_sql(query1, con = engine)

Requirement already satisfied: psycopg2 in c:\users\chebu\anaconda3\lib\site-packages (2.9.3)

In [2]:
dash_visits.to_csv('dash_visits.csv')

In [5]:
dash_visits.head(5)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27